.editor-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative; /* Needed for top-right icon */
}

#input,
#output {
  flex: 1;
  padding: 1rem;
}

#output {
  border-top: 1px solid #ccc;
}

#counter {
  padding: 0.5rem;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .editor-container {
    flex-direction: row;
  }

  #output {
    border-top: none;
    border-left: 1px solid #ccc;
  }
}

#themeToggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
